/* ===========================================
                   Drag and drop layout
   =========================================== */
   $total-columns-count: 12;
   $column-gap: 2.13%;
   $column-width-multiplier: 8.333;
   
   @mixin mobile-layout {
     display: flex;
     flex-wrap: wrap;
     width: 100%;
   
     @for $span-num from 1 through $total-columns-count {
       .span#{$span-num} {
         min-height: 1px;
         width: 100%;
       }
     }
   }
   
   @mixin desktop-layout {
     @media (min-width: 768px) {
       .row-fluid {
         flex-wrap: nowrap;
         justify-content: space-between;
       }
   
       @for $span-num from 1 through $total-columns-count - 1 {
         .span#{$span-num} {
           width: calc(#{$column-width-multiplier} * 1% * #{$span-num} - #{$column-gap} * (#{$total-columns-count - $span-num} * #{$column-width-multiplier} / 100));
         }
       }
     }
   }
   
   .row-fluid {
     @include mobile-layout;
     @include desktop-layout;
   }
   

/* ===========================================
                   Default modules
   =========================================== */
/* Menu and simple menu */

.hs-menu-wrapper {
  ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding-left: 0;
  }
}

/* Horizontal menu */

.hs-menu-wrapper.hs-menu-flow-horizontal {
  .hs-menu-children-wrapper {
    flex-direction: column;

    @media (max-width: 767px) {
      ul {
        flex-direction: column;
      }
    }
  }
}

/* Vertical menu */

.hs-menu-wrapper.hs-menu-flow-vertical {
  ul {
    flex-direction: column;
  }
}

/* Flyouts */

.hs-menu-wrapper.hs-menu-flow-vertical.flyouts {
  ul {
    display: inline-flex;

    @media (max-width: 767px) {
      display: flex;
    }
  }
}

.hs-menu-wrapper.flyouts {
  .hs-item-has-children {
    position: relative;
  }

  .hs-menu-children-wrapper {
    left: -9999px;
    opacity: 0;
    position: absolute;

    a {
      display: block;
      white-space: nowrap;
    }

    // Horizontal Flyout
    &.hs-menu-flow-horizontal {
      .hs-item-has-children:hover > & {
        left: 0;
        opacity: 1;
        top: 100%;
      }
    }

    // Vertical Flyout
    &.hs-menu-flow-vertical {
      .hs-item-has-children:hover > & {
        left: 100%;
        opacity: 1;
        top: 0;
      }
    }

    @media (max-width: 767px) {
      left: 0;
      opacity: 1;
      position: relative;
      top: auto;

      // Additional adjustments for flyouts
      &.hs-menu-flow-horizontal,
      .hs-item-has-children:hover > &.hs-menu-flow-horizontal,
      .hs-item-has-children:hover > &.hs-menu-flow-vertical {
        left: 0;
        opacity: 1;
        position: relative;
        top: auto;
      }
    }
  }
}

/* CTA, logo, and rich text images */

.hs_cos_wrapper_type_cta img,
.hs_cos_wrapper_type_logo img,
.hs_cos_wrapper_type_rich_text img {
  height: auto;
  max-width: 100%;
}
